.border-a.default input {
  border: #5d5d5d solid 4px;
}

.border-a.error input {
  border: #fd4370 solid 4px;
}

.border-a.success input {
  border: #6da06f solid 4px;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.transition {
  transition: all 0.2s ease-out;
}

.translate-p {
  transform: translateY(50%);
}

@keyframes translate-p {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(50%);
  }
}
